@import '../../styles/variables.css';

.list-wrap {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 300px;
  width: 500px;
}

.list-wrap-top,
.list-wrap-bottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  height: 50%;
}
.list-wrap-top {
  justify-content: flex-end;
}
.list-wrap-bottom {
  justify-content: flex-start;
}

.list-item {
  margin: 0.35em 0;
  position: relative;
  color: var(--shade-light);
}

.up .list-item.active {
  animation: 0.2s goUp;
}
.down .list-item.active {
  animation: 0.2s goDown;
}

.list-item-title {
  font-size: 1em;
  margin: 0;
  line-height: 1.2;
  display: inline-block;
  white-space: nowrap;
}
.list-item-subtitle {
  font-size: 0.75em;
  margin: 0;
  line-height: 1.2;
  opacity: 0.5;
  white-space: nowrap;
}

.list-item.active {
  font-size: 1.5em;
}
.list-item.active .list-item-title {
  color: var(--shade-dark);
  background-color: var(--shade-light);
  padding: 0.125em 0.25em;
}
.list-item.active .list-item-subtitle {
  /* opacity: .75; */
}

.algo-list-item .list-item-title {
  margin-left: 8px;
}
.algo-list-item .list-item-subtitle {
  margin-left: 60px;
}

@keyframes goUp {
  from {
    top: 0.5em;
  }
  to {
    top: 0;
  }
}

@keyframes goDown {
  from {
    top: -0.5em;
  }
  to {
    top: 0;
  }
}
