@import '../../../styles/variables.css';

.level-meter {
  display: inline-block;
  padding: var(--border-width);
  line-height: 0;
  background-color: var(--shade-darker);
}

.level-meter-wrap {
  position: relative;
  display: inline-block;
  width: calc(var(--border-width) * 2);
  height: var(--ctrl-height);
  line-height: 0;
  background-color: var(--shade-dark);
}

.level-meter-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
}