@import '../../../styles/variables.css';

.level-meter {
  position: relative;
  height: var(--track-size);
  width: calc(var(--border-width) * 3);
  background-color: var(--shade-dark);
}

.level-meter-wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: var(--shade);
}

.level-meter-content {
  position: absolute;
  right: 0;
  bottom: 0;
  color: var(--shade-light);
}