@import '~styles/variables.css';

.levelmeter {
  position: relative;
  height: var(--track-size);
  width: calc(var(--border-width) * 3);
}

/* Background / Meter */
.levelmeter-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.levelmeter-content {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--shade);
}

/* Label */
.levelmeter-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--shade-light);
}
.levelmeter-label-off {
  color: var(--shade);
}
