:root {
  --shade-base: #000;

  --shade-dark: #111;
  --shade: #444;
  --shade-light: #fff;

  --shade-active-on: #f6c408;

  --space: 2px;
  --half-box-size: 12px;
  --box-size: 25px;
  --track-size: 52px;

  --cut-shape: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - var(--half-box-size)),
    calc(100% - var(--half-box-size)) 100%,
    0% 100%
  );
}
