@import '/styles/variables.css';

.helpericon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding: 0.125rem;
  color: var(--shade-dark);
  background-color: var(--shade-active-on);
  border: var(--space) solid currentColor;
  text-align: center;
  line-height: 1em;
}

.helpericon.pad {
  border-radius: var(--space);
}

.helpericon.nob {
  border-radius: 50%;
}
