@import '~styles/variables.css';

.trackdata {
  display: inline-block;
}

.trackdata-line {
  display: flex;
}
.trackdata-line > div.trackdata-label {
  width: 4ch;
  width: calc(var(--box-size) * 4);
  padding: 0.125em 0 0 0.5em;
  margin-left: 0;
}
.trackdata-line > div {
  width: var(--box-size);
  height: var(--box-size);
  margin-left: var(--space);
  box-sizing: border-box;
  clip-path: var(--cut-shape);
}

.trackdata-line + .trackdata-line {
  margin-top: var(--space);
}

.trackdata .bit-off {
  background-color: var(--shade-dark);
}
.trackdata .bit-on {
  background-color: var(--shade);
}

.trackdata .bit-on.active {
  background-color: var(--shade-active-on);
}
.trackdata .bit-off.active {
  background-color: var(--shade-light);
}
