@import '~styles/variables.css';

.track-data {
  display: inline-block;
}

.track-data-line {
  display: flex;
}
.track-data-line > div.track-data-label {
  width: 4ch;
  width: calc(var(--box-size) * 4);
  padding: 0.125em 0 0 0.5em;
  margin-left: 0;
}
.track-data-line > div {
  width: var(--box-size);
  height: var(--box-size);
  margin-left: var(--space);
  box-sizing: border-box;
  clip-path: var(--cut-shape);
}

.track-data-line + .track-data-line {
  margin-top: var(--space);
}

.track-data .bit-off {
  background-color: var(--shade-dark);
}
.track-data .bit-on {
  background-color: var(--shade);
}

.track-data .active.bit-on {
  background-color: var(--shade-active-on);
}
.track-data .active.bit-off {
  background-color: var(--shade-light);
}
