@import '~/styles/variables.css';

.picker {
  overflow: scroll;
  scrollbar-width: none;
}
.picker::-webkit-scrollbar {
  display: none;
}

.picker-wrap {
  display: flex;
}

.picker-item.active {
  color: var(--shade-base);
  background-color: var(--shade-light);
}
.picker-item.selected {
  background-color: var(--shade-active-on);
  animation: picker-flash 0.2s;
  animation-fill-mode: forwards;
}

@keyframes picker-flash {
  0% {
    background-color: var(--shade-active-on);
  }
  25% {
    background-color: transparent;
  }
  50% {
    background-color: var(--shade-active-on);
  }
  75% {
    background-color: transparent;
  }
  100% {
    background-color: var(--shade-active-on);
  }
}
