@import '~styles/variables.css';

.liveset-picker {
  position: relative;
  vertical-align: top;
}

.liveset-item {
  display: inline-grid;
  width: 280px;
  grid-template-columns: 7ch auto;
  grid-template-rows: 32px 60px auto;
  grid-template-areas:
    'title title'
    'meta_1 meta_2'
    'description description';
  margin-right: 1rem;
  padding: var(--box-size);
}

.liveset-item.active {
  background-color: var(--shade-active-on);
  color: var(--shade-base);
}

.liveset-item-title {
  grid-area: title;
  font-size: 1.25rem;
}
.liveset-item-meta-1 {
  grid-area: meta_1;
}
.liveset-item-meta-2 {
  grid-area: meta_2;
}
.liveset-item-description {
  grid-area: description;
}

.liveset-item-label {
  display: block;
  color: var(--shade);
  font-size: 0.75rem;
  font-weight: bold;
}
.liveset-item-contents {
}
