@import '~styles/variables.css';

.livesetitem {
  display: inline-grid;
  width: 280px;
  grid-template-columns: 7ch auto;
  grid-template-rows: 32px 60px auto;
  grid-template-areas:
    'title title'
    'meta_1 meta_2'
    'description description';
  margin-right: var(--space);
  padding: var(--box-size);
  clip-path: var(--cut-shape);
}

.livesetitem-title {
  grid-area: title;
  font-size: 1.25rem;
}
.livesetitem-meta-1 {
  grid-area: meta_1;
}
.livesetitem-meta-2 {
  grid-area: meta_2;
}
.livesetitem-description {
  grid-area: description;
}

.livesetitem-label {
  display: block;
  color: var(--shade);
  font-size: 0.75rem;
  font-weight: bold;
}
