@import '../../../styles/variables.css';


.track-data {
  display: inline-block;
  vertical-align: top;
}

.track-data-line {
  display: flex;
}
.track-data-line > div.track-data-label {
  width: calc(var(--box-size)*4);
  padding: .125em 0 0 .5em;
  background-color: var(--shade);
  margin-left: 0;
}
.track-data-line > div {
  width: var(--box-size);
  height: var(--box-size);
  
  margin-left: var(--space);
  margin-bottom: var(--space);

  box-sizing: border-box;
}

.track-data .bit-off {
  background-color: var(--shade);
}
.track-data .bit-on {
  background-color: var(--shade-light);
}

.track-data .active.bit-on {
  background-color: var(--shade-active-on);
}
.track-data .active.bit-off {
  background-color: var(--shade-dark);
}



