@import '~styles/variables.css';

.labelpick {
  display: inline-block;
  padding: var(--border-width-half);
  background-color: var(--shade-darker);
  vertical-align: top;
}

.labelpick-item {
  display: inline-block;
  width: var(--ctrl-height);
  height: var(--ctrl-height);
  padding: 0 var(--border-width-half);
  margin: var(--border-width-half);
  background-color: var(--shade-dark);
  box-sizing: unset;
}

.labelpick-title,
.labelpick-index {
  display: block;
  line-height: 1.2;
}
.labelpick-title {
  font-size: 20px;
}

.labelIndex {
  font-size: 14px;
  color: var(--shade-light);
}
