@import '~/styles/variables.css';

.track-generator-item {
  display: flex;
  position: relative;
  padding: var(--half-box-size);
  clip-path: var(--cut-shape);
}

.track-generator-item-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  padding: var(--space);
  margin-right: var(--space);
  line-height: 1;
  font-size: 2rem;
  text-align: center;
}
.track-generator-item-content {
  flex-grow: 1;
}
.track-generator-item-title {
  display: block;
}
.track-generator-item-subtitle {
  font-size: 0.75rem;
  color: var(--shade);
}
