@import '~/styles/variables.css';

.track.trackgenerator {
  margin-bottom: var(--box-size);
}

.trackgeneratoritem {
  display: flex;
  position: relative;
  padding: var(--half-box-size);
  clip-path: var(--cut-shape);
  margin-right: var(--space);
}

.trackgeneratoritem-icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  padding: var(--space);
  margin-right: var(--space);
  line-height: 1;
  font-size: 2rem;
  text-align: center;
}
.trackgeneratoritem-content {
  flex-grow: 1;
}
.trackgeneratoritem-title {
  display: block;
}
.trackgeneratoritem-subtitle {
  font-size: 0.75rem;
  color: var(--shade);
}
