@import './styles/variables.css';

@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  src: /* url('public/fonts/SpaceMono-Regular.woff2') format('woff2'),
       url('public/fonts/SpaceMono-Regular.woff') format('woff'), */
       url('public/fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  src: /* url('public/fonts/SpaceMono-Bold.woff2') format('woff2'),
       url('public/fonts/SpaceMono-Bold.woff') format('woff'), */
       url('public/fonts/SpaceMono-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  background: var(--shade-darker);
  color: var(--shade-lighter);
}


/* Components */
.selectable  {
  border: var(--border-width) solid var(--shade-dark);
  transition: .2s box-shadow, .3s border-color;
  box-shadow: 0 0 0 transparent;
}
.selectable.active {
  border-color: var(--primary);
  box-shadow: 0 0 var(--border-width) var(--primary);
}