@import './styles/variables.css';

@font-face {
  font-family: "Roboto Mono";
  font-weight: 100;
  src: url('assets/fonts/robotomono-light-webfont.woff2') format('woff2'),
       url('assets/fonts/robotomono-light-webfont.woff') format('woff'),
       url('assets/fonts/robotomono-light-webfont.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  background: var(--shade-darker);
  color: var(--shade-lighter);
}
