.sequencecraftr {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000d;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 100;
}

.sequencecraftr-wrap {
  display: flex;
  width: 1000px;
  margin: auto;
}

.sequencecraftr-wrap > *:nth-child(1) {
  width: 20%;
  margin-left: 1%;
}

.sequencecraftr-wrap > *:nth-child(2) {
  width: 42%;
  margin-left: 1%;
}

.sequencecraftr-wrap > *:nth-child(3) {
  width: 35%;
  margin-left: 1%;
}

.sequencecraftr-track {
  display: flex;
  justify-content: center;
}
